<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Would you rather...</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Custom CSS -->
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HOME</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!--NOT LOGGED IN-->
          {% if username is none %}
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="Signin">Sign In<strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; height:150px;">
                <form method="post">
                  <input name="in_username" style="margin-bottom: 15px;" placeholder="Username" type="text" size="30" /><br>
                  <input name="in_password" style="margin-bottom: 15px;" placeholder="Password" type="password" size="30" />
                  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="button" value="Sign In" />
                </form>
              </div>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="Signup">Sign Up<strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; height:150px;">
                <form method="post">
                  <input name="up_username" style="margin-bottom: 15px;" placeholder="Username" type="text" size="30" /><br>
                  <input name="up_password" style="margin-bottom: 15px;" placeholder="Password" type="password" size="30" />
                  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="button" value="Sign Up" />
                </form>
              </div>
            </li>
          </ul>
          {% endif %}
          <!--==============-->
          <!--LOGGED IN-->
          {% if username is not none %}
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="Profile" href="/profile/{{username}}">{{username}}</a></li>
            <li><a id="Logout" href="/logout">Logout</a></li>
          </ul>
          {% endif %}
          <!--==============-->
        </div>
      </div>
    </nav>


    {% block body %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../static/js/utils.js"></script>
  </body>
</html>
