{% extends "master.html" %}
{% block body %}


<center>
  <h2 style="color:white;"> Would you rather... </h2>
  <div id="before_click" style="display:block;">
    <input type="submit" value="{{optA}}" class="btn btn-primary btn-lg" style="width:35%;height:150;" name="optA" onclick="showHideDiv('after_click');showHideDiv('before_click')"></button>
    <input type="submit" value="{{optB}}" class="btn btn-primary btn-lg" style="width:35%;height:150;" name="optB" onclick="showHideDiv('after_click');showHideDiv('before_click')"></button>
    <h2 style="color:white;"> ? </h2>
  </div>
  <div id="after_click" style="display:none;">
    <form method="post">
      <input type="submit" name="button" value="{{optAres}} people agree" class="btn btn-success btn-lg" style="width:35%;height:150;"></button>
      <input type="submit" name="button" value="{{optBres}} people agree " class="btn btn-success btn-lg" style="width:35%;height:150;"></button>
    </form>
      <h3 style="color:white;"> Click a button to play again. </h3>
  </div>
</center>


{% endblock %}
