{% extends "master.html" %}
{% block body %}


<center>
  <h2 style="color:white;"> Would you rather... </h2>
    <div id="before_click" style="display:block;">
      <input type="submit" value="{{optA}}" name="button" class="btn btn-primary btn-lg" style="width:35%;height:150;" name="optA" onclick="showHideDiv('after_click');showHideDiv('before_click')"></button>
      <input type="submit" value="{{optB}}" name="button" class="btn btn-primary btn-lg" style="width:35%;height:150;" name="optB" onclick="showHideDiv('after_click');showHideDiv('before_click')"></button>
      <h2 style="color:white;"> ? </h2>
    </div>
  <div id="after_click" style="display:none;">
    <button type="button" class="btn btn-success btn-lg" style="width:25%;height:150;" name="optAres" onclick="location.reload()"><h6>{{optAres}} people agree</h6></button>
    <button type="button" class="btn btn-success btn-lg" style="width:25%;height:150;" name="optBres" onclick="location.reload()"><h6>{{optBres}} people agree</h6></button>
    <h6 style="color:white;"> Click to play again <h6>
  </div>
</center>


{% endblock %}
